page-login {
.login-backg{
    background-image: url('../../assets/imgs/backpic.png');
    background-repeat: no-repeat;
    background-size:cover;

}

  .logintrans{
    background-color: transparent;
  }
  .loginbutton{
    border-radius: 20px;
  }

  .logdiff{
    margin-top: 50%;
  }


  .text-input::-moz-placeholder {
    color: #fafafa;
  }

  .text-input:-ms-input-placeholder {
    color: #fafafa;
  }

  .text-input::-webkit-input-placeholder {
    color:  #fafafa;
  }

  .text-input{
    color: color($colors, white);
  }
}
