page-login {
.login-backg{
    background-image: url('../../assets/imgs/blau.png');
    background-repeat: no-repeat;
    background-size:cover;

}

  .logintrans{
    background-color: transparent;
  }
  .loginbutton{
    border-radius: 20px;
  }

  .logdiff{
    margin-top: 50%;
  }
}
