page-before-onevsone-game {
  .before-backg{
    background-image: url('../../assets/imgs/backpic.png');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .before-item{
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
}
