page-league {
  .home-backg{
    //background-color: #00DBFF;
    background-image: url('../../assets/imgs/backpic.png');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .leaguebutton{
    border-radius: 20px;
  }
}
