page-onevsone-game {
  .league-game-translate{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
  }

  .league-game-points{
    font-size: 25px;
    color: white;
  }
  .league-game-eingabe{
    margin-top: 30px;
  }

  .onebackg{
    //background-color: #00DBFF;
    background-image: url('../../assets/imgs/backpic.png');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .onewhite{
    color: white;
  }

  .text-input::-moz-placeholder {
    color: #fafafa;
  }

  .text-input:-ms-input-placeholder {
    color: #fafafa;
  }

  .text-input::-webkit-input-placeholder {
    color:  #fafafa;
  }

  .text-input{
    background: transparent;
    color: white;
  }

  .input-wrapper{
    background-color: transparent;
  }

  .item{
    background-color: transparent;
  }
}
