
<ion-header>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>


<ion-content class="english-league-backg">
  <button  large block ion-button (click)="onLoadgame()">
  Starten
  </button>

  <ion-segment [(ngModel)]="englishLeagues" color="white">
    <ion-segment-button value="gold" color="white">
      Gold
    </ion-segment-button>
    <ion-segment-button value="silber" color="white">
      Silber
    </ion-segment-button>
    <ion-segment-button value="bronze" color="white">
      Bronze
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="englishLeagues">
    <ion-item *ngSwitchCase="'gold'" class="test-wrapper">
      <ion-list *ngFor="let item of arrayPoints; let i = index;">
        <ion-item *ngIf="item.league=='gold'">
          {{i+1}} {{item.name}}
          <ion-icon name="heart"></ion-icon>
           {{item.points}}
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item *ngSwitchCase="'silber'">
      <ion-list *ngFor="let item of arrayPoints; let i = index;">
        <ion-item *ngIf="item.league=='silver'" >
          {{i+1}} {{item.name}}
          <ion-icon name="heart"></ion-icon>
          {{item.points}}
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item *ngSwitchCase="'bronze'">
      <ion-list *ngFor="let item of arrayPoints; let i = index;">
        <ion-item *ngIf="item.league=='bronze'">
          {{i+1}} {{item.name}}
          <ion-icon name="heart"></ion-icon>
          {{item.points}}
        </ion-item>
      </ion-list>
    </ion-item>
  </div>
</ion-content>
