page-english-league {
  .english-league-backg{
    background-color: #00dbff!important;
  }

  .input-wrapper, .test-wrapper,  .item{
    background-color: #00dbff!important;
  }

  .label{
    color: white;
  }
}
